body {
    padding: 10%;
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox on body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: nunito, sans-serif;
}
.container > * {
    margin: 10px 0; /* Add spacing between elements */
}
.profile-stats {
    display: flex;
    justify-content: space-between;
}
